@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  @apply bg-gray-800 text-zinc-100;
}

.light {
  @apply bg-gradient-to-r from-green-100 to-blue-200 text-gray-800;
}


#heroContainer{
  background-image: url('../../public/imageBg.png');
  background-repeat: no-repeat;
  background-size: 690px;
  background-position: 100% 20%;
}


@media (max-width: 976px) {
  #heroContainer{
    background-image: url('../../public/imageBg.png');
    background-repeat: no-repeat;
    background-size: 760px;
    background-position: 50% 180%;
  }
}

@media (max-width: 760px) {
  #heroContainer{
    background-image: url('../../public/imageBg.png');
    background-repeat: no-repeat;
    background-size: 700px;
    background-position: 50% 180%;
  }
}
@media (max-width: 480px) {
  #heroContainer{
    background-image: url('../../public/imageBg.png');
    background-repeat: no-repeat;
    background-size: 680px;
    background-position: 50% 150%;
  }
}

